body {
  background-color: #FAFAFA;
}

.container {
  align-items: flex-start;
}

.left {
  flex-grow: 1;
  justify-content: stretch;
  align-items: stretch;
  margin-right: 10px;
}

.left .btn {
  height: 20px;
}

.right {
  flex-grow: 2;
}

ul {
  width: 100%;
}

ul li {
  background-color: #FFFFFF;
  margin-bottom: 8px;
  height: 40px;
  overflow: hidden;
}

ul li.title {
  height: 50px;
}